stages:
  - name: test
  - name: deploy
    if: branch = master

jobs:
  include:
    - stage: deploy
      language: csharp
      mono: none
      dotnet: 2.1
      name: GitHub
      script: bash ./scripts/release.sh
      before_deploy:
      - git config --local user.name Traivs
      - git config --local user.email dev@lasmera.com
      - git tag "$(cat .version)"
      deploy:
        provider: releases
        api_key: $GITHUB_OAUTH_TOKEN
        name: $(cat .version)
        file_glob: true
        file: ./dist/zip/*
        skip_cleanup: true
    - stage: deploy
      language: node_js
      name: NPM
      install:
        - cd ./npm
        - npm install
        - npm version $(cat .version)
      deploy:
        provider: npm
        api_key: $NPM_API_KEY
        email: $NPM_EMAIL
